
body{
	background-image: url("..assets/images/pulpfiction.png")
}
div{
	background-color: rgb(245, 1, 184);
	margin: 10px;
	width: 25%
}
div{
	border: solid 2px rgb(255, 255, 255);
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}

div.header, div.gems{
	background-color: #ffffff;
}
div.header, div.instructions{
	width: 50%;
}

.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}
.userTotal{
	width: 15%;
	height: 60px;
}
.gems{
	clear: both;
}
.gemImage{
	height: 60px;
	margin: 10px;
}

#blue{
	color: #1603be;
}
#green{
	color: #00aa0e;
}
#red{
	color: #7e0715;
}
#yellow{
	color: #e4e709;
}